<github-corners target="__blank" z-index="999" position="fixed" href="https://github.com/jaywcjlove/linux-command"></github-corners>
<div class="header<%if(type=='list'){%> header_list<%}%><%if(type=='home'){%> home<%}%>">
  <div class="header_inner">

      <div class="search">
          <ul class="search-list" id="result">
            <!-- <li><a href="#"><strong>find</strong> - 指定目录下查找文件。</a></li> -->
          </ul>
          <input type="text" class="query" id="query" autocomplete="off" autofocus="autofocus" placeholder="Linux 命令搜索"/>
          <div class="enter-input">
              <input type="hidden" id="current_path" value="<%=current_path%>">
              <button id="search_btn">搜索</button>
          </div>
      </div>
  </div>
</div>